<div class="view2">
    <div class="mask flex-center">
        <div class="row" style="width: 90%; margin-top: 10%;">
          <div class="col-md-6">
            <div class="card text-center cardBorder rosePale" >
                <div class="text-center form-header">
                  <img [src]="cvPhoto" class="roundedImage waves-light" mdbRippleRadius>
                </div>
                <div class="card-body ">
                    <h1 class="card-title textBrunFonce bold">Laurence BILLON</h1>
                    <a href="https://www.linkedin.com/in/laurence-billon-148706156/" target="_blank"><i class="fa fa-linkedin icon textBrun"></i></a>
                    <a href="https://www.facebook.com/laurence.billon.9" target="_blank"><i class="fa fa-facebook icon textBrun"></i></a>
                    <a href="http://www.viadeo.com/p/00225j7pe0wh1sv6" target="_blank"><i class="fa fa-viadeo icon textBrun"></i></a>
                    <a [href]="cv" target="_blank"><i class="fa fa-download icon textBrun"></i></a>
                    <hr class="brunFonce">
                    <h4 class="card-title  italic">Commerciale de métier, formatrice passionnée & pleine de ressources</h4>
                    <div class="md-form text-left">
                        <i class="fa fa-home icon2 "></i>
                        12 rue de la Bataille - 86190 Quinçay
                    </div>
                    <div class="row text-left">
                      <div class="col-md-6">
                          <div class="md-form">
                              <i class="fa fa-phone icon "></i>
                              06.78.57.55.36
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="md-form">
                              <i class="fa fa-at icon "></i>
                              lpmc.billon@orange.fr
                          </div>
                      </div>
                    </div>
                    <div class="row text-left">
                        <div class="col-md-6">
                            <div class="md-form">
                                <i class="fa fa-birthday-cake icon "></i>
                                55 ans (12/09/1962)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <i class="fa fa-road icon "></i>
                                Mobilité toute France
                            </div>
                        </div>
                      </div>
                      <blockquote class="blockquote textGris">
                          <i class="fa fa-quote-left"></i>
                          <p class="mb-0">Ce que j'aime dans la vie ? Les gens !</p>
                        <i class="fa fa-quote-right"></i>
                      </blockquote>
                </div>
            </div>
            <div style="height: 150px"></div>
            <div class="row" style="width: 100%;">
              <div class="col-md-5">
                <div class="card text-center cardBorder rosePale" >
                    <div class="text-center form-header">
                      <button  class="btn brunTane waves-light roundedButton" mdbRippleRadius><i class="fa fa-plus iconButton"></i></button>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title textBrunFonce">Mes points forts</h4>
                        <hr class="brunFonce">
                          <ul class="text-left listStyle " style="margin-left: 10%;">
                            <li>Autonomie en tous domaines</li>
                            <li>Excellent relationnel</li>
                            <li>Maîtrise de la technique commerciale</li>
                            <li>Ecoute</li>
                            <li>Analyse</li>
                            <li>Empathie</li>
                            <li>Affectif développé</li>
                            <li>Autorité naturelle</li>
                            <li>Capacité de vente multisecteurs</li>
                          </ul>
                    </div>
                  </div>

                    <div style="height: 150px"></div>
                    <div class="card text-center cardBorder rosePale" >
                        <div class="text-center form-header">
                          <button  class="btn brunTane waves-light roundedButton" mdbRippleRadius><i class="fa fa-puzzle-piece iconButton"></i></button>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title textBrunFonce">Mes hobbies</h4>
                            <hr class="brunFonce">
                            <i class="fa fa-circle"></i> Volley-Ball. <br>
                            <i class="fa fa-pencil"></i> Coloriage et dessin. <br>
                            <i class="fa fa-book"></i> Lecture. <br>
                            <i class="fa fa-cutlery"></i> Cuisine.
                        </div>
                    </div>
                </div>
            




              <div class="col-md-1"></div>
              <div class="card text-center cardBorder rosePale col-md-6" >
                  <div class="text-center form-header">
                    <button  class="btn brunTane waves-light roundedButton" mdbRippleRadius><i class="fa fa-lightbulb-o iconButton"></i></button>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title textBrunFonce">Mes compétences</h4>
                      <hr class="brunFonce">
                      <ul class="">
                          <li>Ventes/Techniques de ventes
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        <li>Formation
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        <li>Prospection
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        <li>Gestion Portefeuille Client
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        <li>Développement de secteur
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        <li>Conseil
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        <li>Accompagnement
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        <li>Management d'équipe
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        <li>Création d'entreprise
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        <li>Gestion d'un commerce
                            <ul class="list-inline">
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                              <li class="list-inline-item"><i class="fa fa-circle-o littleIcon"></i></li>
                            </ul>
                        </li>
                        </ul>
                  </div>
              </div>
          </div>
          <div style="height: 150px"></div>
          <div class="card text-center cardBorder rosePale" >
              <div class="text-center form-header">
                <button  class="btn brunTane waves-light roundedButton" mdbRippleRadius><i class="fa fa-university iconButton"></i></button>
              </div>
              <div class="card-body">
                  <h4 class="card-title textBrunFonce">Mes connaissances</h4>
                  <hr class="brunFonce">
                  <div class="bold text-center">
                    <i class="fa fa-graduation-cap"></i> Formation de formateurs
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <i class="fa fa-calendar"></i> Obtenue en 2005
                    </div>
                    <div class="col-md-6">
                        <i class="fa fa-map-marker"></i> Montreuil (93)
                    </div>
                  </div>
                  <hr class="brunFonce">
                  <div class="bold text-center">
                      <i class="fa fa-graduation-cap"></i> Licence - Mention Sciences de la Terre
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <i class="fa fa-calendar"></i> Obtenue en 1988
                      </div>
                      <div class="col-md-6">
                          <i class="fa fa-map-marker"></i> Université de Bordeaux (33)
                      </div>
                    </div>
                    <hr class="brunFonce">
                    <div class="bold text-center">
                        <i class="fa fa-graduation-cap"></i> Licence - Mention Sciences Naturelles
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <i class="fa fa-calendar"></i> Obtenue en 1987
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-map-marker"></i> Université de Bordeaux (33)
                        </div>
                      </div>
                      <hr class="brunFonce">
                      <div class="bold text-center">
                          <i class="fa fa-graduation-cap"></i> DEUG B - Mention Sciences Naturelles
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <i class="fa fa-calendar"></i> Obtenue en 1985
                          </div>
                          <div class="col-md-6">
                              <i class="fa fa-map-marker"></i> Université de Poitiers (86)
                          </div>
                        </div>
              </div>
            </div>
        </div>

          <div class="col-md-6">
   
              <div class="card text-center cardBorder rosePale" >
                  <div class="text-center form-header">
                    <button  class="btn brunTane waves-light roundedButton"><i class="fa fa-briefcase iconButton"></i></button>
                  </div>
                  <div class="card-body text-left">
                      <h4 class="card-title textBrunFonce text-center">Mes expériences de vie</h4>
                      <hr class="brunFonce">
                      <div class="bold text-center">
                        <i class="fa fa-thumb-tack"></i> Conseillère en prévoyance
                        <br>
                        <i class="fa fa-calendar"></i> 03/2017 - Aujourd'hui
                      </div>
                      <div class="row">
                        <div class="col-md-6 ">
                            <a href="https://www.ganprevoyance.fr/" target="_blank" class="blackText"><i class="fa fa-suitcase"></i> GAN Prévoyance </a>
                        </div>
                        <div class="col-md-6">
                          <i class="fa fa-map-marker"></i> Secteur de Poitiers (86)
                        </div>
                      </div>
                      <br>
                      <div >
                        <i class="fa fa-tasks"></i> Missions :
                        <br>
                        Conseils chez les professionnels et les particuliers sur les différentes solutions de prévoyance existantes. <br>
                        Contact humain et accompagnement des prospects. <br>
                        Prospection téléphonique "Business To Customer".
                      </div>
                      <hr class="brunFonce">
                      <div class="bold text-center">
                          <i class="fa fa-thumb-tack"></i> Formatrice vacataire
                          <br>
                          <i class="fa fa-calendar"></i> 2008 - 2017
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <i class="fa fa-suitcase"></i> Université de Poitiers - UFR Sciences Fondamentales et Appliquées
                          </div>
                          <div class="col-md-6">
                            <i class="fa fa-map-marker"></i> Poitiers (86)
                          </div>
                        </div>
                        <br>
                        <div >
                          <i class="fa fa-tasks"></i> Formations assurées :
                          <br>
                          <b><a class="blackText" href="http://www.univ-poitiers.fr/formation/nos-formations/par-diplome/les-licences-professionnelles/licences-professionnelles-sciences-technologies-sante/licence-professionnelle-sciences-technologies-sante-mention-technico-commercial-parcours-technico-commercial-en-instrumentation-biotechnologique-et-biomedicale-348651.kjsp" target="_blank">Licence Professionnelle</a> :</b> Techniques de ventes, gestion du temps et communication non verbale.<br>
                          <b><a href="http://www.univ-poitiers.fr/formation/nos-formations/par-diplome/les-licences/licences-sciences-technologies-sante/licence-sciences-technologies-sante-mention-sciences-de-la-vie-408381.kjsp?RH=1352134791987" target="_blank" class="blackText">Licence 3 Recherche</a> :</b> Connaissance de l'entreprise. Conception de projets de développement de nouveaux produits afin de faire comprendre le fonctionnement des différents services et leurs interactions. <br>
                          <b><a href="http://www.univ-poitiers.fr/formation/nos-formations/par-diplome/les-masters/mention-biologie-sante-sciences-du-medicament/master-professionnel-et-recherche-sciences-technologies-sante-mention-biologie-sante-sciences-du-medicament-specialite-genie-physiologique-biotechnologique-et-informatique-349091.kjsp" target="_blank" class="blackText">Master 2 Génie Physiologique</a> :</b> Coaching en création d'entreprise. Aide à l'élaboration d'un Business Plan, étude Marketing, gestion des Ressources Humaines, audit de Comptabilité sur les bilans prévisionnels.
                        </div>
                        <hr class="brunFonce">
                        <div class="bold text-center">
                            <i class="fa fa-thumb-tack"></i> Auto-entrepreneuse
                            <br>
                            <i class="fa fa-calendar"></i> 2014 - 2017
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <a href="http://couleurcafe86.wixsite.com/bar-gourmand" target="_blank" class="blackText"><i class="fa fa-suitcase"></i> Bistrot gourmand "Couleur café"</a>
                            </div>
                            <div class="col-md-6">
                              <i class="fa fa-map-marker"></i> Quinçay (86)
                            </div>
                          </div>
                          <br>
                          <div >
                            <i class="fa fa-tasks"></i> Tâches :
                            <br>
                            Création d'un bar et bistrot gourmand. <br>
                            Elaboration d'un Business Plan pour répondre à un appel d'offre public. <br>
                            Gestion complète des stocks, matières premières). <br>
                            Elaboration et conception de la carte et des plats. <br>
                            Prise en charge du service à la clientèle. <br>
                            Gestion de la comptabilité.
                          </div>
                          <hr class="brunFonce">
                          <div class="bold text-center">
                              <i class="fa fa-thumb-tack"></i> Responsable commerciale
                              <br>
                              <i class="fa fa-calendar"></i> 2012 - 2014
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <a href="https://www.societe.com/societe/vm-distribution-389916263.html" target="_blank" class="blackText"><i class="fa fa-suitcase"></i> VM Distribution</a>
                              </div>
                              <div class="col-md-6">
                                <i class="fa fa-map-marker"></i> <b>Secteur de 4 départements</b> (Vienne, Haute-Vienne, Indre et Loire, Indre)
                              </div>
                            </div>
                            <br>
                            <div >
                              <i class="fa fa-tasks"></i> Missions :
                              <br>
                              Responsable Commerciale de produits consommables pour les dentistes. <br>
                              Vente en cycle court. <br>
                              Reprise en mai d'un secteur non prospecté.
                            </div>
                            <br>
                            <div >
                                <i class="fa fa-balance-scale"></i> Bilan :
                                <br>
                                Chiffre d'Affaires de départ : 76K € pour 80 clients actifs. <br>
                                Chiffre d'Affaires en 2013: réalisé 130K € pour 164 clients actifs en portefeuille.
                              </div>
                            <hr class="brunFonce">
                            <div class="bold text-center">
                                <i class="fa fa-thumb-tack"></i> Responsable commerciale
                                <br>
                                <i class="fa fa-calendar"></i> 2007 - 2012
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                    <a href="http://www.serfigroup.com/" target="_blank" class="blackText"><i class="fa fa-suitcase"></i> SERFI Groupe</a>
                                </div>
                                <div class="col-md-6">
                                  <i class="fa fa-map-marker"></i> <b>Secteur de 8 départements</b> (Vienne, Haute-Vienne, Charente, Loire Atlantique, Maine et Loire, Vendée, Deux-Sèvres, Inder et Loire, Indre)
                                </div>
                              </div>
                              <br>
                              <div >
                                <i class="fa fa-tasks"></i> Missions :
                                <br>
                                Mise en place de projets d'équipements hôteliers.<br>
                                Identification des besoins, élaboration et montage de projets de financements.
                              </div>
                              <div >
                                  <br>
                                  <i class="fa fa-balance-scale"></i> Bilan :
                                  <br>
                                  Au bout de 4 ans, plus de 100 nouveaux projets réalisés. <br>
                                  Evolution du Chiffre d'Affaires de 400K € à 600K €.
                                </div>
                              <hr class="brunFonce">
                              <div class="bold text-center">
                                  <i class="fa fa-thumb-tack"></i> Dirigeante d'entreprise
                                  <br>
                                  <i class="fa fa-calendar"></i> 2005 - 2007
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <i class="fa fa-suitcase"></i> Marcoline Conseil
                                  </div>
                                  <div class="col-md-6">
                                    <i class="fa fa-map-marker"></i> Poitiers (86)
                                  </div>
                                </div>
                                <br>
                                <div >
                                  <i class="fa fa-tasks"></i> Missions :
                                  <br>
                                  Mise en place de projets de formation.<br>
                                  Formation et accompagnement en gestion de temps et organisation.<br>
                                  Aide au recrutement de collaborateurs et optimisation de points de ventes.
                                </div>
                                <hr class="brunFonce">
                                <div class="bold text-center">
                                    <i class="fa fa-thumb-tack"></i> Déléguée Médicale spécialisée
                                    <br>
                                    <i class="fa fa-calendar"></i> 1990 - 2005
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <a href="https://fr.gsk.com/" target="_blank" class="blackText"><i class="fa fa-suitcase"></i> Laboratoires GlaxoSmithKline</a>
                                    </div>
                                    <div class="col-md-6">
                                      <i class="fa fa-map-marker"></i> <b>Secteur de 3 départements</b> (Vienne, Deux-Sèvres, Haute-Vienne)
                                    </div>
                                  </div>
                                  <br>
                                  <div >
                                    <i class="fa fa-tasks"></i> Missions :
                                    <br>
                                    Informer et promouvoir les médicaments, organiser et communiquer.<br>
                                    Suivre et analyser les résultats, mettre en place des actions correctives.<br>
                                    Garantir l'application de la politique commerciale, former et accompagner.
                                  </div>
                                  <hr class="brunFonce">
                                  <div class="bold text-center">
                                      <i class="fa fa-thumb-tack"></i> Déléguée Médicale spécialisée & Directrice Régionale Centre-Ouest
                                      <br>
                                      <i class="fa fa-calendar"></i> 1988 - 1990
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                          <a href="https://www.societe.com/societe/cider-sante-312548944.html" target="_blank" class="blackText"> <i class="fa fa-suitcase"></i> Société CIDER pour les laboratoires RHONE POULENC et DIAMANT</a>
                                      </div>
                                      <div class="col-md-6">
                                        <i class="fa fa-map-marker"></i> <b>Secteur de 4 départements</b> (Deux-Sèvres, Vienne, Indre et Loire, Indre)
                                      </div>
                                    </div>
                                    <br>
                                    <div>
                                      <i class="fa fa-tasks"></i> Missions :
                                      <br>
                                      Informer et promouvoir les médicaments, organiser et communiquer.<br>
                                      Suivre et analyser les résultats, mettre en place des actions correctives.<br>
                                      Manager une équipe de 10 personnes.<br>
                                      Garantir l'application de la politique commerciale, former et accompagner.
                                    </div>
                                    <hr class="brunFonce">
                  </div>
                </div>
                
          </div>
    </div>
</div>