<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red lighten-3">
    
<!-- Navbar brand -->
<logo><p class="navbar-brand" >CV de Laurence BILLON ~ Femme commerciale, formatrice et pleine de ressources</p></logo>
</mdb-navbar>

<div class="view overlay hm-brown-light">
    <img [src]="bgImg" class="img-fluid " alt="">
    <div class="mask flex-center">
        <div class="text-center">
              <button class="btn red lighten-3 waves-light roundedButton" (click)="navigateTo('CV')" mdbRippleRadius><i class="fa fa-magic iconButton"></i></button>
              <p class="white-text"><bold>Cliquer pour visualiser</bold></p>
           </div>
    </div>
</div>
          