.form-header {
    color: #fff;
    text-align: center;
    margin-top: -150px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 2px;
}


.roundedButton{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.iconButton{
    font-size: 1000%;
}

